<%- include('templates/header'); %>

<div class="wrapper">
    <h2><strong>Todos los libros<span>( <%= books.length %> )</span></strong></h2>
    <div class="cards">

        <% books.forEach(book => { %>
        <figure class="card">
            <img src="/uploads/<%= book.image %>" />
            <figcaption><%= book.title %></figcaption>
        </figure>
        <% }) %>

    </div>

    <h2><strong>Novedad</strong></h2>
    <div class="news">

        <% latestBooks.reverse().forEach(book => { %>
        <figure class="article">
            <img src="/uploads/<%= book.image %>" />
            <figcaption>
                <h3><%= book.title %></h3>
                <p><%= book.description %></p>
            </figcaption>
        </figure>
        <% }) %>

    </div>
</div>

<%- include('templates/footer'); %>